img{
  height: 10vh;

}

.header-img {
  display: block;
  margin: 0 auto;   
  height: 400px;    
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body{
  background-image:url(https://mir-s3-cdn-cf.behance.net/project_modules/fs/b41ef067852591.60f267886e76c.jpg);
  background-size:auto ;
  text-transform: capitalize;
 
}


/* ------------------------- seccion titles, parrafo y list of champions ------------------------------*/


h1{
color: #eba346;
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-weight: bold;
text-align: center;
text-decoration: underline ;
font-size: 50px;
margin-top: 100px;
}

h2{
  color: #eba346;
  font-size: 30px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-top: 100px;
}

.intro{
  text-align: center;
}

h3{
  color: #eba346;
  font-size: 15px;
  font-family:Verdana, Geneva, Tahoma, sans-serif

}

.div .h4 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 30px;
  color: #eba346;
}


p{
  color: antiquewhite;
  font-size: 25px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 20px;
  background-color: rgba(1, 28, 30, 0.231);
}

li{
  color:antiquewhite;
  height: 5vh;
  font-size: 25px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* ----------------------------------seccion how to play----------------------------------*/



a{
  color: rgb(255, 255, 255);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: block;
}


div {
  background-color:rgba(55, 152, 87, 0.032);
  padding: 20px;
}



/* ------------------------------------ seccion nav y logo -------------------------------------*/

.link{
  text-decoration: none;
  color: antiquewhite;
  font-size: 30px;
  font-weight: bold;
  border-radius: 100px;
  background-color: #06041e;
  padding: 20px 20px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 50px;        
  padding: 20px;    
  margin: 0;       
}


.link:hover {
  color:#18043e;
}

.link:visited {
  color: #df8d23;
}



/* ----------------------------------seccion how to play----------------------------------*/

.league {
  text-align: center;
}

.Play{
  display: flex;
  gap: 5px;
}

.Play h4{
  background-color:#06041e;
  padding: 10px;
  color: #df8d23;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 18px;
  font-weight: bold;
  text-align:center;
  margin-bottom: 10px;
 border-radius: 20px
}

.steps{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  text-align: center;
  color: #eba346;
  justify-content: center;
  border-radius: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #06041e;
  padding: 20px;
}


.btn{
  background-color: hsl(34, 80%, 60%);
  border:none;
  padding: 6px 18px;
  border-radius: 21px;
  color: #000000;
  font-weight: bold;
}




/* ----------------------------------seccion credit----------------------------------*/

.creditos{
  color: #eba346;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
}

@media (max-width: 480px){

header {
    flex-direction: column;
    gap: 20px;
    background-color: #5e50f4;
  }

  nav ul {
    flex-direction: column;
    gap: 10px;
    padding: 0;
  }

  .link {
    display: block;
    text-align: center;

}

}